
<div class="container">
    <div *ngFor="let lang of languages">
        <button (click)="changeLanguage(lang)" mat-icon-button>{{ lang }}</button>
    </div>
    <div *ngIf="router.url == '/'">
        <button *ngIf="router.url == '/'" (click)="compileFirmware()" mat-button>{{ 'menu.compileFirmware' | translate }}</button>
    </div>
    <div *ngIf="router.url == '/mapper'">
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button *ngIf="router.url == '/mapper'" (click)="resetKeycodes()" mat-menu-item>{{ 'menu.resetKeycodes' | translate }}</button>
            <button *ngIf="router.url == '/mapper'" (click)="disconnect()" mat-menu-item>{{ 'menu.disconnect' | translate }}</button>
        </mat-menu>
    </div>
    <div *ngIf="router.url == '/firmware'">
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button *ngIf="router.url == '/firmware'" (click)="exitFirmware()" mat-menu-item>{{ 'menu.exit' | translate }}</button>
        </mat-menu>
    </div>
</div>



