
<div class="container">
    <div *ngFor="let lang of languages">
        <button (click)="changeLanguage(lang)" mat-icon-button>{{ lang }}</button>
    </div>
    <div *ngIf="router.url == '/'">
        <button (click)="compileFirmware()" mat-button>{{ 'menu.compileFirmware' | translate }}</button>
        <button (click)="testKeyboard()" mat-button>{{ 'menu.testKeyboard' | translate }}</button>
        <button mat-button [matMenuTriggerFor]="menu">
            {{ 'menu.version' | translate }}
        </button>
        <mat-menu #menu="matMenu">
            <button class="btn-miguelio" (click)="setVersion('miguelio')" mat-menu-item><img width="30" src="assets/miguelio.jpg"> Miguelio</button>
            <button class="btn-keebary" (click)="setVersion('keebary')" mat-menu-item><img width="30" src="assets/keebary.png"> Keebary</button>
        </mat-menu>
    </div>
    <div *ngIf="router.url == '/mapper'">
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button *ngIf="router.url == '/mapper'" (click)="resetKeycodes()" mat-menu-item>{{ 'menu.resetKeycodes' | translate }}</button>
            <button *ngIf="router.url == '/mapper'" (click)="disconnect()" mat-menu-item>{{ 'menu.disconnect' | translate }}</button>
        </mat-menu>
    </div>
    <div *ngIf="router.url == '/firmware'">
        <button (click)="exitFirmware()" mat-button>{{ 'menu.exit' | translate }}</button>
    </div>
    <div *ngIf="router.url == '/testing'">
        <button (click)="exitTesting()" mat-button>{{ 'menu.exit' | translate }}</button>
    </div>
</div>



