<div *ngIf="errors.length" (mouseover)="open()" (mouseout)="close()" class="container">
    <mat-icon [matBadgeHidden]="!errorsUnread" [matBadge]="errorsUnread" matBadgeColor="warn">error</mat-icon>
    <div [class.hidden]="!visible" class="errors">
        <mat-card *ngFor="let error of errors">
            <div *ngIf="error.textInfo?.message">
                {{ error.textInfo.message }}
            </div>
            <div *ngIf="isString(error.textInfo)">
                {{ error.textInfo }}
            </div>
            <div *ngIf="!error.textInfo?.message && !isString(error.textInfo)">
                {{ 'error.unknown' | translate }}
            </div>
        </mat-card>
    </div>
</div>