<div>
    <mat-tab-group #firstab animationDuration="0ms" [selectedIndex]="activeMainTab"
        (selectedTabChange)="activeMainTab = $event.index">
        <mat-tab *ngFor="let layout of layoutsmapper" [label]="layout.name">
            <mat-tab-group color="accent" [selectedIndex]="activeTab" (selectedTabChange)="activeTab = $event.index">
                <mat-tab *ngFor="let layer of layout.layers" [label]="layer.number">
                    <!-- V2 -->
                    <div *ngIf="defs.vdoc == 2" class="layout2">
                        <div *ngIf="layoutsmapper" class="mapper-container"
                            [ngStyle]="{width: containerSize(layout)[0] + 'px', height: containerSize(layout)[1] + 'px'}">
                            <div class="rowKeys" *ngFor="let rowKeys of layer.keymap">
                                <div class="key2" *ngFor="let key of rowKeys"
                                    [ngClass]="{selected: key.selected, isoEnter2: key.h && key.h == 2}"
                                    [ngStyle]="{top: key.y * sizeKeys + 'px', left: key.x * sizeKeys + 'px', width: key.w * sizeKeys + 'px', height: key.h == 2 ? '48px' : key.h * sizeKeys + 'px', transform: key.t || 'none'}"
                                    (dragover)="dragOver($event)" (dragenter)="dragEnter($event)"
                                    (dragleave)="dragLeave($event)" (drop)="drop($event, key)"
                                    (click)="toggleSelectKey($event, key)">
                                    <div *ngIf="!key.saving" [class.fake]="key.f || key.u === 0" class="keyLetter"
                                        [class.oneLetter]="isSymbolKey(key)" [matTooltip]="key.code"
                                        matTooltipPosition="above" matTooltipShowDelay="300" matTooltipHideDelay="200">
                                        <span *ngIf="!isModKey(key)">{{ 'keycode.'+key.code | translate }}</span>
                                        <span *ngIf="isModKey(key)">{{ key.code.split('(')[0] }}</span>
                                        <div *ngIf="isModKey(key)">
                                            <input type="text" [value]="key.secondByte || ''"
                                                (enter)="changeModKey($event, key)" (change)="changeModKey($event, key)"
                                                (drop)="dropInput($event, key)">
                                        </div>
                                    </div>
                                    <div *ngIf="key.saving" class="keyLetter loading">
                                        <div class="spinner">
                                            <div class="cube1"></div>
                                            <div class="cube2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- V1 -->
                    <div *ngIf="defs.vdoc != 2" class="layout">
                        <div class="rowKeys" *ngFor="let rowKeys of layer.keymap">
                            <div class="key" *ngFor="let key of rowKeys" [class.u0]="!key.u"
                                [class.isoEnter]="key.s=='ISO_ENTER'" [class.encoderLeft]="key.s=='ENCODER_LEFT'"
                                [class.encoderRight]="key.s=='ENCODER_RIGHT'" [class.faderUp]="key.s=='FADER_UP'"
                                [class.faderDown]="key.s=='FADER_DOWN'" [style.width.px]="key.u * sizeKeys"
                                (dragover)="dragOver($event)" (dragenter)="dragEnter($event)"
                                (dragleave)="dragLeave($event)" (drop)="drop($event, key)">
                                <div *ngIf="!key.saving" [class.fake]="key.f || key.u === 0" class="keyLetter"
                                    [style.background-color]="key.color" [class.oneLetter]="isSymbolKey(key)"
                                    [matTooltip]="key.code" matTooltipPosition="above" matTooltipShowDelay="300"
                                    matTooltipHideDelay="200">
                                    <span *ngIf="!isModKey(key)">{{ 'keycode.'+key.code | translate}}</span>
                                    <span *ngIf="isModKey(key)">{{ key.code.split('(')[0] }}</span>
                                    <div *ngIf="isModKey(key)">
                                        <input type="text" [value]="key.secondByte" (enter)="changeModKey($event, key)"
                                            (change)="changeModKey($event, key)" (drop)="dropInput($event, key)">
                                    </div>
                                </div>
                                <div *ngIf="key.saving" class="keyLetter loading">
                                    <div class="spinner">
                                        <div class="cube1"></div>
                                        <div class="cube2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-tab>
    </mat-tab-group>
    <app-light></app-light>
    <div class="mapperKeys">
        <mat-tab-group>
            <mat-tab *ngFor="let mapperKeysTab of mapperKeys" [label]="'mapper.'+mapperKeysTab.title | translate">
                <div class="layout">
                    <div class="rowKeys" *ngFor="let rowKeys of mapperKeysTab.keymap">
                        <div class="key" *ngFor="let key of rowKeys" [class.u0]="!key.u"
                            [style.width.px]="key.u * sizeKeys" [class.isoEnter]="key.s=='ISO_ENTER'" draggable="true"
                            (dragstart)="drag(key)" (dragend)="dragEnd()">
                            <div [class.fake]="key.f || key.u === 0" class="keyLetter"
                                [class.oneLetter]="isSymbolKey(key)" [matTooltip]="key.code" matTooltipPosition="above"
                                matTooltipShowDelay="300" matTooltipHideDelay="200">
                                <span *ngIf="key.code?.indexOf('(') < 0">{{ 'keycode.'+key.code | translate }}</span>
                                <span *ngIf="key.code?.indexOf('(') > 0">{{ key.code.split('(')[0] }}</span>
                                <div *ngIf="key.text" class="onlyText">{{ 'mapper.'+key.text | translate }}</div>
                                <div>
                                    <input *ngIf="isModKey(key)" type="text" [value]="key.secondByte">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
