.layout {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.layout2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.key2 {
    border-radius: 5px;
    display: grid;
    cursor: default;
    position: absolute;
    transform-origin: 50% 50%;
}

.key2.isoEnter2 {
    width: 72px !important;
    position: relative;
    margin-left: -12px;
}
.key2.isoEnter2:after {
    width: 58px;
    height: 51px;
    background: black;
    color: black;
    position: absolute;
    content: "X";
    top: 44px;
    left: 13px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.key2.isoEnter2 div {
    background: black !important;
    color: white !important;
}

.dragOver:not(.isoEnter2) {
    background-color: #c2c5c7 !important;
    color: #323537 !important;
}

.mapper-container {
    position: relative;
    padding-bottom: 20px;
}

.rowKeys {
    display: flex;
    flex-direction: row;
}

.key {
    border-radius: 5px;
    width: 48px;
    height: 48px;
    display: grid;
    cursor: default;
}

.keyLetter {
    background-color: #222527;
    padding: 5px;
    border: 1px solid #323537;
    border-radius: 5px;
    font-size: 12px;
}

.keyLetter > div {
    display: flex;
    justify-content: center;
}
.keyLetter input {
    width: 24px;
    height: 15px;
    border-radius: 5px;
    border: 1px solid #424547;
}
.oneLetter {
    word-spacing: 0.6rem;
    font-size: 14px;
    text-align-last: center;
}
.keyLetter.none {
    display: none;
}
.keyLetter.fake {
    background: none;
}
.key.u0 {
    width: 0px;
}

.key {
    &.encoderLeft,
    &.encoderRight,
    &.faderUp,
    &.faderDown {
        overflow: hidden;
        border-radius: 0;
    }
    &.encoderLeft .keyLetter:not(.dragOver) {
        border-radius: 50%;
        position: relative;
        left: 50%;
    }
    &.encoderRight .keyLetter:not(.dragOver) {
        border-radius: 50%;
        position: relative;
        right: 50%;
    }
    &.faderUp .keyLetter:not(.dragOver) {
        width: 50%;
        padding: 0;
        position: relative;
        left: 25%;
        top: 70%;
        &::before {
            content: " ";
            position: absolute;
            margin-left: 18px;
            margin-top: -30px;
            border: 1px solid #727577;
            width: 10px;
            height: 48px;
            border-radius: 5px;
            z-index: -1;
        }
    }
    &.faderDown .keyLetter:not(.dragOver) {
        width: 50%;
        padding: 0;
        position: relative;
        left: 25%;
        bottom: 70%;
        &::before {
            content: " ";
            position: absolute;
            margin-left: 18px;
            margin-top: 25px;
            border: 1px solid #727577;
            width: 10px;
            height: 48px;
            border-radius: 5px;
            z-index: -1;
        }
    }
    &.encoderLeft .keyLetter:not(.dragOver),
    &.encoderRight .keyLetter:not(.dragOver),
    &.faderUp .keyLetter:not(.dragOver),
    &.faderDown .keyLetter:not(.dragOver) {
        padding: 5px;
        span {
            display: none;
        }
        &:hover {
            width: auto;
            border-radius: 5px;
            position: static;
            left: auto;
            right: auto;
            top: auto;
            bottom: auto;
            span {
                display: block;
            }
            &::before {
                display: none;
            }
        }
    }
}

.key.isoEnter {
    width: 72px;
    position: relative;
}
.key.isoEnter:after {
    width: 58px;
    height: 51px;
    background: black;
    color: black;
    position: absolute;
    content: "X";
    top: 44px;
    left: 13px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.mapperKeys .layout {
    padding-bottom: 30px;
}

.dragOver {
    background-color: #c2c5c7;
    color: #323537;
}

.onlyText {
    padding-top: 15px;
}
