.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.layout2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.key2 {
  border-radius: 5px;
  display: grid;
  cursor: default;
  position: absolute;
  transform-origin: 50% 50%;

  .keyContent {
    background-color: rgba(255, 255, 255, 0.06);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.06) 0%,
      rgba(255, 255, 255, 0) 99%,
      rgba(255, 255, 255, 0.06) 100%
    );
    border-radius: 4px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2px 2px 0;
    word-spacing: 6px;
    pointer-events: none;
    box-shadow: rgba(255, 255, 255, 0.02) 1px 1px 0px inset, rgba(255, 255, 255, 0.05) -1px -1px 0px inset,
      0px 0px 8px 0px rgb(0, 0, 0, 0.1);
    padding-left: 3px;

    input {
      pointer-events: auto;
    }
  }
}

.key2.isoEnter2 {
  width: 72px !important;
  position: relative;
}
.key2.isoEnter2 .keyContent {
  box-shadow: rgba(255, 255, 255, 0.02) 1px 1px 0px inset, rgba(255, 255, 255, 0.05) -1px 0px 0px inset;
  border-bottom-right-radius: 0px;
}
.key2.isoEnter2 .keyLetter:before {
  width: 58px;
  height: 51px;
  background-color: inherit;
  color: inherit;
  position: absolute;
  content: " ";
  top: 44px;
  left: 13px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.key2.isoEnter2 .keyLetter:after {
  width: 48px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.06);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0) 90%,
    rgba(255, 255, 255, 0) 99%,
    rgba(255, 255, 255, 0.06) 100%
  );
  box-shadow: rgba(255, 255, 255, 0.02) 1px 0px 0px inset, rgba(255, 255, 255, 0.05) -1px 0px 0px inset;
  color: inherit;
  position: absolute;
  content: " ";
  top: 41px;
  left: 18px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dragOver:not(.isoEnter2) {
  background-color: #c2c5c7 !important;
  color: #323537 !important;
}

.mapper-container {
  position: relative;
  border: 2px solid;
  border-radius: 5px;
}

.rowKeys {
  display: flex;
  flex-direction: row;
}

.key {
  width: 48px;
  height: 48px;
  display: grid;
  cursor: default;
  overflow: hidden;

  .keyContent {
    background-color: rgba(255, 255, 255, 0.06);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.06) 0%,
      rgba(255, 255, 255, 0) 99%,
      rgba(255, 255, 255, 0.06) 100%
    );
    border-radius: 4px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2px 2px 0;
    word-spacing: 6px;
    pointer-events: none;
    box-shadow: rgba(255, 255, 255, 0.02) 1px 1px 0px inset, rgba(255, 255, 255, 0.05) -1px -1px 0px inset,
      0px 0px 8px 0px rgb(0, 0, 0, 0.1);
    padding-left: 3px;

    input {
      pointer-events: auto;
    }
  }
}

.keyLetter {
  background-color: #121517;
  padding: 3px 5px 8px;
  margin: 1px;
  font-size: 11px;
  border-radius: 4px;
  &.selected {
    margin: 0px;
  }
  &:hover {
    cursor: pointer;
  }
  &.mouseOver:hover {
    background-color: #c2c5c7 !important;
    color: #323537 !important;
  }
  &.none {
    display: none;
  }
  &.fake {
    background: none;
    visibility: hidden;
  }
}

.keyLetter > div {
  display: flex;
  justify-content: center;
}
.keyLetter input {
  width: 24px;
  height: 15px;
  border-radius: 5px;
  border: 1px solid #424547;
}
.oneLetter {
  word-spacing: 0.6rem;
  font-size: 13px;
  text-align-last: left;
  .keyContent {
    padding-left: 5px;
  }
}

.key.u0 {
  width: 0px;
}

.key,
.key2 {
  &.encoderLeft,
  &.encoderRight,
  &.faderUp,
  &.faderDown {
    overflow: hidden;
    border-radius: 0;
    z-index: 8880;
  }
  &.encoderLeft {
    width: 48px !important;
  }
  &.encoderLeft .keyLetter:not(.dragOver) {
    border-radius: 50%;
    position: relative;
    left: 50%;
    .keyContent {
      border-radius: 50%;
    }
  }
  &.encoderRight {
    width: 48px !important;
  }
  &.encoderRight .keyLetter:not(.dragOver) {
    border-radius: 50%;
    position: relative;
    right: 50%;
    .keyContent {
      border-radius: 50%;
    }
  }
  &.faderUp .keyLetter:not(.dragOver) {
    width: calc(50% - 10px);
    padding: 0;
    position: relative;
    left: 25%;
    top: 70%;
    &::before {
      content: " ";
      position: absolute;
      margin-left: calc(50% - 8px);
      margin-top: -35px;
      border: 1px solid #727577;
      background: #727577;
      width: 6px;
      height: 48px;
      border-radius: 5px;
      z-index: -1;
    }
  }
  &.faderDown .keyLetter:not(.dragOver) {
    width: calc(50% - 10px);
    padding: 0;
    position: relative;
    left: 25%;
    bottom: 70%;
    &::before {
      content: " ";
      position: absolute;
      margin-left: calc(50% - 8px);
      margin-top: 25px;
      border: 1px solid #727577;
      background: #727577;
      width: 6px;
      height: 48px;
      border-radius: 5px;
      z-index: -1;
    }
  }
  &.encoderLeft .keyLetter:not(.dragOver),
  &.encoderRight .keyLetter:not(.dragOver),
  &.faderUp .keyLetter:not(.dragOver),
  &.faderDown .keyLetter:not(.dragOver) {
    padding: 5px;
    span {
      display: none;
    }
    &:hover,
    &.selected {
      width: auto;
      border-radius: 5px;
      position: static;
      left: auto;
      right: auto;
      top: auto;
      bottom: auto;
      span {
        display: block;
      }
      &::before {
        display: none;
      }
    }
  }
  &.isoEnter {
    width: 72px;
    position: relative;
  }
  &.isoEnter .keyContent {
    box-shadow: rgba(255, 255, 255, 0.02) 1px 1px 0px inset, rgba(255, 255, 255, 0.05) -1px 0px 0px inset;
    border-bottom-right-radius: 0px;
  }
  &.isoEnter .keyLetter:before {
    width: 58px;
    height: 51px;
    background-color: inherit;
    color: inherit;
    position: absolute;
    content: " ";
    top: 44px;
    left: 13px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  &.isoEnter .keyLetter:after {
    width: 48px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.06);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0) 90%,
      rgba(255, 255, 255, 0) 99%,
      rgba(255, 255, 255, 0.06) 100%
    );
    box-shadow: rgba(255, 255, 255, 0.02) 1px 0px 0px inset, rgba(255, 255, 255, 0.05) -1px 0px 0px inset;
    color: inherit;
    position: absolute;
    content: " ";
    top: 41px;
    left: 18px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  &.click {
    cursor: pointer;
    user-select: none;
  }
}

.key.pressed,
.key2.pressed {
  transform: scale(0.95) !important;
  .keyLetter {
    box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
  }
}

.mapperKeys .layout {
  padding-bottom: 30px;
}

.dragOver {
  background-color: #c2c5c7;
  color: #323537;
}

.onlyText {
  padding-top: 15px;
}

.case {
  border: 10px solid;
  border-radius: 5px;
  margin: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px inset;
}

mat-form-field.mat-form-field {
  font-size: 13px;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.main-container {
  padding-left: 5px;
}

button {
  margin: 5px 0 0;
}

input.color {
  border-radius: 25%;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  position: relative;
  top: -5px;
}

.key.selected,
.key2.selected {
  z-index: 8888;
  transform: scale(1.1) !important;
  box-shadow: white 0 0 0 2px, black 0 0 10px 1px;
  border-radius: 5px;
}

.extra {
  position: absolute;
  transform-origin: 50% 50%;
  &.oled128x32h {
    background-image: url("../../../assets/oled128x32h.png");
  }
}
