.layout {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.rowKeys {
    display: flex;
    flex-direction: row;
}

.key {
    border-radius: 5px;
    width: 48px;
    height: 48px;
    display: grid;
    cursor: default;
}

.keyLetter {
    background-color: black;
    padding: 5px;
    border: 1px solid #323537;
    border-radius: 5px;
    font-size: 12px;
}
.keyLetter > div {
    display: flex;
    justify-content: center;
}
.keyLetter input {
    width: 24px;
    height: 15px;
    border-radius: 5px;
    border: 1px solid #424547;
}
.oneLetter {
    word-spacing: 0.6rem;
    font-size: 14px;
    text-align-last: center;
}
.keyLetter.none {
    display: none;
}
.keyLetter.fake {
    background: none;
}
.key.u0 {
    width: 0px;
}
.key.isoEnter {
    width: 72px;
    position: relative;
}
.key.isoEnter:after {
    width: 58px;
    height: 51px;
    background: black;
    color: black;
    position: absolute;
    content: "X";
    top: 44px;
    left: 13px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.mapperKeys .layout {
    padding-bottom: 30px;
}

.dragOver {
    background-color: #c2c5c7;
    color: #323537
}

.onlyText {
    padding-top: 15px;
}



