.key {
    width: 48px;
    height: 48px;
    display: grid;
    cursor: default;
    position: absolute;

    .keyContent {
        background-color: rgba(255, 255, 255, 0.06);
        border-radius: 4px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 2px 2px 0;
        word-spacing: 6px;
        pointer-events: none;
        box-shadow: rgba(255, 255, 255, 0.1) 1px 1px 0px inset, rgba(255, 255, 255, 0.05) -1px -1px 0px inset;
        padding-left: 3px;

        input {
            pointer-events: auto;
        }
    }
}

.selected {
    z-index: 8888;
    transform: scale(1.1);
    box-shadow: white 0 0 0 2px, black 0 0 10px 1px;
}

.layout {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rowKeys {
    display: flex;
    flex-direction: row;
}

.main-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.container {
    display: flex;
    justify-content: center;
}

.case {
    border: 10px solid;
    border-radius: 5px;
    margin: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px inset;
}

.firmware-container {
    position: relative;
    border: 2px solid;
    border-radius: 5px;
}

.keyLetter {
    background-color: #121517;
    padding: 3px 5px 8px;
    margin: 1px;
    font-size: 11px;
    border-radius: 4px;
}
.keyLetter > div {
    display: flex;
    justify-content: center;
}
.keyLetter input {
    width: 24px;
    height: 15px;
    border-radius: 5px;
    border: 1px solid #424547;
}
.oneLetter {
    word-spacing: 0.6rem;
    font-size: 13px;
    text-align-last: left;
    .keyContent {
        padding-left: 5px;
    }
}
.keyLetter.none {
    display: none;
}
.keyLetter.fake {
    background: none;
}

.key2 {
    border-radius: 5px;
    width: 48px;
    height: 48px;
    display: grid;
    cursor: default;
}
.key2.u0 {
    width: 0px;
}
.key2.u025 {
    width: 12px;
}
.key2.u05 {
    width: 24px;
}
.key2.u075 {
    width: 36px;
}
.key2.u15 {
    width: 72px;
}
.key2.u125 {
    width: 60px;
}
.key2.u175 {
    width: 84px;
}
.key2.u2 {
    width: 96px;
}
.key2.u225 {
    width: 108px;
}
.key2.u275 {
    width: 132px;
}
.key2.u3 {
    width: 144px;
}
.key2.u375 {
    width: 180px;
}
.key2.u6 {
    width: 288px;
}
.key2.u625 {
    width: 300px;
}
.key2.u7 {
    width: 336px;
}

.key.isoEnter {
    width: 72px !important;
    position: relative;
    margin-left: -12px;
}
.key.isoEnter:after {
    width: 58px;
    height: 51px;
    background: black;
    color: black;
    position: absolute;
    content: "X";
    top: 44px;
    left: 13px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.key.isoEnter div {
    background: black !important;
    color: white !important;
}

.dragOver:not(.isoEnter) {
    background-color: #c2c5c7 !important;
    color: #323537 !important;
}

.onlyText {
    padding-top: 15px;
    font-size: 15px;
}

.compile-select {
    margin: 5px 10px;
}

.submenu-button {
    position: relative;
    top: -4px;
    margin-left: 10px;
    color: white;
}

mat-form-field.mat-form-field {
    font-size: 13px;
}

.mapperKeys {
    padding-bottom: 30px;
}

.section {
    display: grid;
    align-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 8;
    background: rgba(0, 0, 0, 0.8);
}
mat-progress-spinner,
h1,
h3,
img {
    margin: 0 auto 10px;
    font-family: "system-ui", "Helvetica Neue", sans-serif;
    font-weight: 200;
}

@keyframes moveKeyboard {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(0.9, 0.9, 1);
    }

    55% {
        transform: scale3d(1.2, 1.2, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

img.main-image {
    position: relative;
    margin-top: -210px;
    animation: moveKeyboard 5s ease infinite;
}

.preloader {
    width: 20px;
    height: 20px;
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 25%;
    animation-name: girar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
    top: 5px;
    left: 10px;
}

input.color {
    border-radius: 25%;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    position: relative;
    top: -5px;
}

.color-select {
    width: 100px;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
