<div class="section" *ngIf="compiling">
    <img src="assets/keyboard.png">
    <h1>{{ 'firmware.' + loadingMessage | translate }}</h1>
</div>

<div style="display:flex;flex-direction:row;align-items:baseline;">
    <mat-form-field appearance="outline" class="compile-select">
        <mat-label>Keyboards</mat-label>
        <mat-select name="keyboards" (selectionChange)="changeKeyboard($event)" [disabled]="!firmware?.keyboardsList">
            <mat-option *ngFor="let keyboard of firmware?.keyboardsList" [value]="keyboard">
                {{ keyboard }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="compile-select" *ngIf="firmware?.qmkKeyboard"
        [disabled]="!firmware?.qmkKeyboard?.layouts">
        <mat-label>Layout</mat-label>
        <mat-select name="layout" (selectionChange)="changeLayout($event)">
            <mat-option *ngFor="let layout of firmware?.qmkKeyboard?.layouts | keyvalue" [value]="layout">
                {{ layout.key }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button *ngIf="firmware?.layers" mat-button class="submenu-button" (click)="compile()">
        {{ 'menu.compileFirmware' | translate }}
    </button>
    <a *ngIf="urlFirmware" [href]="urlFirmware">
        <button mat-button class="submenu-button">
            {{ 'firmware.manualDownload' | translate }}
        </button>
    </a>
    <div class="preloader" *ngIf="showLoading"></div>
</div>

<mat-tab-group [animationDuration]="sliderTime" color="accent" [selectedIndex]="activeTab" (selectedTabChange)="activeTab = $event.index"
    *ngIf="firmware?.layers">
    <mat-tab *ngFor="let layer of firmware.layers" [label]="layer.number">
        <div class="layout">
            <div class="firmware-container"
                [ngStyle]="{width: firmware?.qmkKeyboard.matrix_size.cols * 48 + 'px', height: firmware?.qmkKeyboard.matrix_size.rows * 48 + 'px'}">
                <div class="key" *ngFor="let key of layer.keymap" [ngClass]="{selected: key.selected}"
                    [ngStyle]="{top: key.y * 48 + 'px', left: key.x * 48 + 'px', width: key.w * 48 + 'px'}"
                    (dragover)="dragOver($event)" (dragenter)="dragEnter($event)" (dragleave)="dragLeave($event)"
                    (drop)="drop($event, key)" (click)="toggleSelectKey($event, key)">
                    <div *ngIf="!key.saving" [class.fake]="key.f || key.u === 0" class="keyLetter"
                        [class.oneLetter]="isSymbolKey(key)" [matTooltip]="key.code" matTooltipPosition="above"
                        matTooltipShowDelay="300" matTooltipHideDelay="200">
                        <span *ngIf="!isModKey(key)">{{ 'keycode.'+key.code | translate }}</span>
                        <span *ngIf="isModKey(key)">{{ key.code.split('(')[0] }}</span>
                        <div *ngIf="isModKey(key)">
                            <input type="text" [value]="key.secondByte" (enter)="changeModKey($event, key)"
                                (change)="changeModKey($event, key)" (drop)="dropInput($event, key)">
                        </div>
                    </div>
                    <div *ngIf="key.saving" class="keyLetter loading">
                        <div class="spinner">
                            <div class="cube1"></div>
                            <div class="cube2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>


<div *ngIf="firmware?.layers" class="mapperKeys">
    <mat-tab-group animationDuration="300ms">
        <mat-tab *ngFor="let mapperKeysTab of mapperKeys" [label]="'mapper.'+mapperKeysTab.title | translate">
            <div class="layout">
                <div class="rowKeys" *ngFor="let rowKeys of mapperKeysTab.keymap">
                    <div class="key2" *ngFor="let key of rowKeys" [class.u0]="!key.u" [class.u025]="key.u==0.25"
                        [class.u05]="key.u==0.5" [class.u075]="key.u==0.75" [class.u125]="key.u==1.25"
                        [class.u15]="key.u==1.5" [class.u175]="key.u==1.75" [class.u2]="key.u==2"
                        [class.u275]="key.u==2.75" [class.u225]="key.u==2.25" [class.u3]="key.u==3"
                        [class.u375]="key.u==3.75" [class.u6]="key.u==6" [class.u625]="key.u==6.25"
                        [class.u7]="key.u==7" [class.isoEnter]="key.s=='ISO_ENTER'" draggable="true"
                        (dragstart)="drag(key)" (dragend)="dragEnd()">
                        <div [class.fake]="key.f || key.u === 0" class="keyLetter" [class.oneLetter]="isSymbolKey(key)"
                            [matTooltip]="key.code" matTooltipPosition="above" matTooltipShowDelay="300"
                            matTooltipHideDelay="200">
                            <span *ngIf="key.code?.indexOf('(') < 0">{{ 'keycode.'+key.code | translate }}</span>
                            <span *ngIf="key.code?.indexOf('(') > 0">{{ key.code.split('(')[0] }}</span>
                            <div *ngIf="key.text" class="onlyText">{{ 'mapper.'+key.text | translate }}</div>
                            <div>
                                <input *ngIf="isModKey(key)" type="text" [value]="key.secondByte">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
