@import "@angular/material/prebuilt-themes/pink-bluegrey.css";

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/material-icons.woff2) format("woff2");
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}
*:not(.mat-icon) {
    font-family: 'Helvetica Neue' !important;
}
html,
body {
    height: 100%;
    margin: 0;
    font-weight: 200;
    font-size: 19px;
    background-color: #323537;
    color: #d2d5d7;
    overflow: hidden;
    overflow-y: auto;
}
* {
    letter-spacing: 1px;
}
button {
    background-color: #424547 !important;
}
.mat-tab-body-content {
    overflow: hidden !important;
}
.mat-menu-trigger {
    position: relative;
    top: 2px;
}
.mat-menu-panel {
    margin-top: 6px;
    .mat-menu-content {
        overflow: hidden;
        button {
            text-transform: none;
        }
    }
}