@import "@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "@angular/cdk/overlay-prebuilt.css";

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/material-icons.woff2) format("woff2");
}

@font-face {
    font-family: "Encode Sans Condensed";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(assets/fonts/encode.woff2) format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.cdk-global-scrollblock {
  overflow-y: hidden !important;
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}
*:not(.mat-icon) {
    font-family: "Encode Sans Condensed", sans-serif !important;
}
html,
body {
    transition: all 0.3s ease-out;
    height: 100%;
    margin: 0;
    font-weight: 200;
    font-size: 19px;
    background-color: #323537;
    color: #d2d5d7;
    overflow: hidden;
    overflow-y: auto;
    .pt {
        padding-top: 30px;
    }
    img.main-image {
        content: url(assets/keyboard.png);
    }
    button {
        background-color: #424547 !important;
    }
    .mat-tab-body-content {
        overflow: hidden !important;
    }
    .mat-menu-panel {
        margin-top: 6px;
        .mat-menu-content {
            padding-right: 10px;
            overflow: hidden;
            button {
                text-transform: none;
                border-radius: 5px;
            }
        }
    }
    .color-option {
        .mat-option-text {
            display: flex;
            div {
                min-width: 15px;
                height: 30px;
            }
            :last-child {
                margin-left: 10px;
            }
        }
    }
    ::ng-deep mat-autocomplete {
        width: fit-content !important;
    }

    .noLine {
        .mat-slider-ticks,
        .mat-slider-ticks-container,
        .mat-slider-track-wrapper {
            visibility: hidden !important;
            opacity: 0 !important;
        }
    }

    .mat-select-panel {
        max-width: none !important;
        min-height: 500px !important;
    }
    .mat-option-text, .mat-tab-label {
        user-select: none;
    }

    app-mapper > div > mat-tab-group > mat-tab-header:first-child {
        margin-right: 250px;
    }
}

body.keebary {
    color: white;
    background-color: #529e8f;
    mat-dialog-container {
      background-color: #529e8f;
    }
    button,
    select,
    .mat-menu-panel,
    .mat-select-panel {
        background-color: #345f56 !important;
    }
    img.main-image {
        content: url(assets/keebary.png);
        position: relative;
        margin-top: -186px;
        width: 150px;
        height: 150px;
        animation: moveKeyboard 5s ease infinite;
    }
    .keyLetter {
        background-color: #222527;
        border-color: #529e8f !important;
    }
    .key.isoEnter:after {
        background: #222527;
        color: #222527;
    }
    .hueGradient {
        background: rgb(255, 0, 0);
        background: linear-gradient(
                0deg,
                rgba(82, 158, 143, 1) 40%,
                rgba(255, 255, 255, 0) 50%,
                rgba(82, 158, 143, 1) 60%
            ),
            linear-gradient(
                90deg,
                rgba(255, 0, 0, 1) 0%,
                rgba(255, 255, 0, 1) 17%,
                rgba(0, 255, 0, 1) 33%,
                rgba(0, 255, 255, 1) 50%,
                rgba(0, 0, 255, 1) 67%,
                rgba(255, 0, 255, 1) 83%,
                rgba(255, 0, 0, 1) 100%
            );
    }
    .satGradient {
        margin-left: 5px;
        background: linear-gradient(
                0deg,
                rgba(82, 158, 143, 1) 40%,
                rgba(255, 255, 255, 0) 50%,
                rgba(82, 158, 143, 1) 60%
            ),
            linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%),
            linear-gradient(0deg, rgba(255, 0, 0, 1) 46%, rgba(0, 255, 0, 1) 50%, rgba(0, 0, 255, 1) 54%);
    }
    .dragOver {
        color: #529e8f;
    }
}

body.quark {
    color: #070707;
    background-color: #40434e;
    mat-dialog-container {
      background-color: #40434e;
    }
    h1,
    h2,
    h3 {
        color: #fff;
        text-shadow: 2px 2px 1px #000, 4px 4px 1px #44bba4 !important;
        font-weight: 500 !important;
    }
    h4,
    h5 {
        color: #fff;
        font-weight: 500;
    }
    button,
    select,
    .mat-menu-panel,
    .mat-select-panel {
        background-color: #44bba4 !important;
        color: #070707 !important;
        border: 1px solid #070707 !important;
        box-shadow: 2px 2px 1px #e7e5df !important;
    }
    input {
        caret-color: #44bba4 !important;
        color: #fff !important;
    }
    mat-label {
        color: #44bba4 !important;
    }
    .mat-form-field.mat-focused .mat-form-field-ripple,
    mat-ink-bar {
        background-color: #44bba4 !important;
    }
    img.main-image {
        content: url(assets/quarkworks.svg);
        position: relative;
        margin-top: -186px;
        width: 150px;
        height: 150px;
        animation: moveKeyboard 5s ease infinite;
    }
    .keyLetter {
        background-color: #44bba4;
        color: black;
        border-color: #40434e !important;
    }
    .key.isoEnter:after {
        background: #44bba4;
        color: #44bba4;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        width: 57px;
        top: 43px;
    }
    .keyLetter:not(.fake) {
        border: 2px solid black;
    }
    .keyLetter input {
        color: black !important;
    }
    .hueGradient {
        background: rgb(255, 0, 0);
        background: linear-gradient(0deg, #40434e 40%, rgba(255, 255, 255, 0) 50%, #40434e 60%),
            linear-gradient(
                90deg,
                rgba(255, 0, 0, 1) 0%,
                rgba(255, 255, 0, 1) 17%,
                rgba(0, 255, 0, 1) 33%,
                rgba(0, 255, 255, 1) 50%,
                rgba(0, 0, 255, 1) 67%,
                rgba(255, 0, 255, 1) 83%,
                rgba(255, 0, 0, 1) 100%
            );
    }
    .satGradient {
        margin-left: 5px;
        background: linear-gradient(0deg, #40434e 40%, rgba(255, 255, 255, 0) 50%, #40434e 60%),
            linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%),
            linear-gradient(0deg, rgba(255, 0, 0, 1) 46%, rgba(0, 255, 0, 1) 50%, rgba(0, 0, 255, 1) 54%);
    }
    .dragOver {
        color: #44bba4;
    }
}

body.tecladitos {
    color: white;
    background-color: #69238a;
    mat-dialog-container {
      background-color: #69238a;
    }
    button,
    select,
    .mat-menu-panel,
    .mat-select-panel {
        color: black !important;
        background-color: white !important;
        border: 1px solid black;
    }
    img.main-image {
        content: url(assets/tecladitos.png);
        position: relative;
        margin-top: -186px;
        width: 160px;
        height: 160px;
        animation: moveKeyboard 5s ease infinite;
    }
    .keyLetter {
        background-color: white;
        color: black;
        border-color: #69238a !important;
    }
    .key.isoEnter:after {
        background: white;
        color: white;
    }
    .hueGradient {
        background: rgb(255, 0, 0);
        background: linear-gradient(0deg, #69238a 40%, rgba(255, 255, 255, 0) 50%, #69238a 60%),
            linear-gradient(
                90deg,
                rgba(255, 0, 0, 1) 0%,
                rgba(255, 255, 0, 1) 17%,
                rgba(0, 255, 0, 1) 33%,
                rgba(0, 255, 255, 1) 50%,
                rgba(0, 0, 255, 1) 67%,
                rgba(255, 0, 255, 1) 83%,
                rgba(255, 0, 0, 1) 100%
            );
    }
    .satGradient {
        margin-left: 5px;
        background: linear-gradient(0deg, #69238a 40%, rgba(255, 255, 255, 0) 50%, #69238a 60%),
            linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%),
            linear-gradient(0deg, rgba(255, 0, 0, 1) 46%, rgba(0, 255, 0, 1) 50%, rgba(0, 0, 255, 1) 54%);
    }
    .dragOver {
        color: #69238a;
    }
}

body.arq {
    color: white;
    background-color: #fa2929;
    mat-dialog-container {
      background-color: #fa2929;
    }
    button,
    select,
    .mat-menu-panel,
    .mat-select-panel {
        color: #232222 !important;
        background-color: white !important;
        border: 1px solid #232222;
    }
    img.main-image {
        content: url(assets/arq.png);
        position: relative;
        margin-top: -180px;
        width: 140px;
        height: 140px;
        animation: moveKeyboard 5s ease infinite;
    }
    .keyLetter {
        background-color: white;
        color: #232222;
        border-color: #fa2929 !important;
    }
    .key.isoEnter:after {
        background-color: white;
        color: white;
    }
    .mat-tab-group.mat-primary .mat-ink-bar,
    .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        background-color: white !important;
        color: #232222 !important;
    }
    .hueGradient {
        background: rgb(255, 0, 0);
        background: linear-gradient(0deg, #fa2929 40%, rgba(255, 255, 255, 0) 50%, #fa2929 60%),
            linear-gradient(
                90deg,
                rgba(255, 0, 0, 1) 0%,
                rgba(255, 255, 0, 1) 17%,
                rgba(0, 255, 0, 1) 33%,
                rgba(0, 255, 255, 1) 50%,
                rgba(0, 0, 255, 1) 67%,
                rgba(255, 0, 255, 1) 83%,
                rgba(255, 0, 0, 1) 100%
            );
    }
    .satGradient {
        margin-left: 5px;
        background: linear-gradient(0deg, #fa2929 40%, rgba(255, 255, 255, 0) 50%, #fa2929 60%),
            linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%),
            linear-gradient(0deg, rgba(255, 0, 0, 1) 46%, rgba(0, 255, 0, 1) 50%, rgba(0, 0, 255, 1) 54%);
    }
    .dragOver {
        color: #fa2929;
    }
}


body.tecleate {
    color: white;
    background-color: #281b25;
    mat-dialog-container {
      background-color: #281b25;
    }
    button,
    select,
    .mat-menu-panel,
    .mat-select-panel {
        background-color: #ED5B2D !important;
    }
    img.main-image {
        content: url(assets/tecleate.png);
        position: relative;
        margin-top: -186px;
        width: 150px;
        height: 150px;
        animation: moveKeyboard 5s ease infinite;
    }
    .keyLetter {
        background-color: #222527;
        border-color: #281b25 !important;
    }
    .key.isoEnter:after {
        background: #222527;
        color: #222527;
    }
    .hueGradient {
        background: rgb(255, 0, 0);
        background: linear-gradient(
                0deg,
                rgba(40, 27, 37, 1) 40%,
                rgba(255, 255, 255, 0) 50%,
                rgba(40, 27, 37, 1) 60%
            ),
            linear-gradient(
                90deg,
                rgba(255, 0, 0, 1) 0%,
                rgba(255, 255, 0, 1) 17%,
                rgba(0, 255, 0, 1) 33%,
                rgba(0, 255, 255, 1) 50%,
                rgba(0, 0, 255, 1) 67%,
                rgba(255, 0, 255, 1) 83%,
                rgba(255, 0, 0, 1) 100%
            );
    }
    .satGradient {
        margin-left: 5px;
        background: linear-gradient(
                0deg,
                rgba(40, 27, 37, 1) 40%,
                rgba(255, 255, 255, 0) 50%,
                rgba(40, 27, 37, 1) 60%
            ),
            linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%),
            linear-gradient(0deg, rgba(255, 0, 0, 1) 46%, rgba(0, 255, 0, 1) 50%, rgba(0, 0, 255, 1) 54%);
    }
    .dragOver {
        color: #281b25;
    }
}

