.section {
    display: grid;
    align-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px; left: 0px; z-index: 8;
    background-color: #529e8f;
}
mat-progress-spinner, h1, h3, img {
    margin: 0 auto 10px;
    font-family: "system-ui", "Helvetica Neue", sans-serif;
    font-weight: 200;
}

@keyframes moveKeyboard {
    0% {
        transform: scale3d(1, 1, 1);
      }

      30% {
        transform: scale3d(0.9, 0.9, 1);
      }

      55% {
        transform: scale3d(1.2, 1.2, 1);
      }

      100% {
        transform: scale3d(1, 1, 1);
      }
}

img {
    position: relative;
    top: -186px;
    width: 150px;
    height: 150px;
    animation: moveKeyboard 5s ease infinite;
}

h1, h3 {
    position: relative;
    top: -130px;
}

.devices {
    display: grid;
    justify-content: center;
}
.devices > button {
    margin: 5px 0;
}

.add-support {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.add-support div {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.add-support-input {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 50;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.add-support-input div:not(.light-configs) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

::ng-deep .add-support-input .mat-form-field {
    width: 350px !important;
}

.light-configs {
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.switch {
    padding: 0 20px;
}

.support-buttons {
    flex-direction: row !important;
    padding: 50px !important;
}
.support-buttons button {
    margin: 0 10px;
}

.preloader {
    width: 20px;
    height: 20px;
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 25%;
    animation-name: girar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-top: 100px;
}
@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
